# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
env/
.env

# Databases / Local State
*.db
logs/
uploaded_documents/

# Node / JS
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dist/
build/
